	@import "../system/functions";
//Standard Colors

$standard-font-color: #222222;
$invert-font-color: #ffffff;

$primary-color: #0093c3;
$secondary-color: #a601bf;
$tertiary-color: #00c39c;
$quaternary-color: #f6bf00;
$error-color: #c30000;
$warn-color: #c36e00;
$success-color: #20c300;
$standard-border-color: #999999;
$input-standard-color: $secondary-color;


$primary-colors : get-shade-map($primary-color);
$secondary-colors: get-shade-map($secondary-color);
$tertiary-colors: get-shade-map($tertiary-color);
$quaternary-colors : get-shade-map($quaternary-color);
$black-colors: get-shade-map(#000000);
$white-colors: get-shade-map(#ffffff);
$warn-colors: get-shade-map($warn-color);
$success-colors: get-shade-map(#20c300);
$error-colors:  get-shade-map($error-color);
$input-standard-colors:  get-shade-map($input-standard-color);




//Fonts
$standard-font : "open_sansregular";
$bold-font : $standard-font;
$italic-font : $standard-font;
$headline-font : $standard-font;
$keyboard-command : $standard-font;

//Fontsizes
$standard-font-size: 14px;

$extra-big-font-size: 50px;
$big-font-size: 35px;
$semibig-font-size: 25px;
$medium-font-size: 18px;
$small-font-size: 12px;
$very-small-font-size : 10px;

//Iconssize
$standard-icon-size: 20px;

$extra-big-icon-size: 70px;

$big-icon-size: 45px;

$semibig-icon-size: 35px;
$medium-icon-size: 30px;
$small-icon-size: 14px;
$very-small-icon-size : 10px;

$icon-spacing : 5px;

//Lineheight
$standard-line-height: 20px;
$extra-big-line-height: 60px;
$big-line-height: 45px;
$semibig-line-height: 32px;
$medium-line-height: 30px;
$small-line-height: 14px;
$very-small-line-height: 120%;

//margins
$single-margin: 15px;
$double-margin: 30px;
$triple-margin: 45px;

//grid
$grind-default-spacing: evently; //possible values are evently and between
$grid-space-between: 20px;
$grid-space-evently: 5px;
$grid-seperator-width: 2px;
$grid-seperator-color: $standard-border-color;

//buttons
$button-shadows : off;
$button-rounded-corners: 0px;
$button-seperator-width: 2px;
$button-selected-underline: 4px;

$standard-button-padding-top-bottom: 10px;
$standard-button-padding-left-right: 20px;

$big-button-padding-top-bottom: 20px;
$big-button-padding-left-right: 40px;

$medium-button-padding-top-bottom: 15px;
$medium-button-padding-left-right: 30px;

$small-button-padding-top-bottom: 5px;
$small-button-padding-left-right: 10px;



$primary-button-color : (
	font : #ffffff,
	background : #0093c3,
	hover : darken(#0093c3, 10),
	select : darken(#0093c3, 20),
	active : lighten(#0093c3, 10),
);

$secondary-button-color : (
	font : #ffffff,
	background : $secondary-color,
	hover : darken($secondary-color, 10),
	select : darken($secondary-color, 20),
	active : lighten($secondary-color, 10),
);

$tertiary-button-color : (
	font : #ffffff,
	background : $tertiary-color,
	hover : darken($tertiary-color, 10),
	select : darken($tertiary-color, 20),
	active : lighten($tertiary-color, 10),
);

$quaternary-button-color : (
	font : #ffffff,
	background : $quaternary-color,
	hover : darken($quaternary-color, 10),
	select : darken($quaternary-color, 20),
	active : lighten($quaternary-color, 10),
);


$black-button-color : (
	font : #ffffff,
	background : #000000,
	hover : lighten(#000000, 20),
	active : lighten(#000000, 30),
	select : lighten(#000000, 10),
	ripple : #666666
);

$white-button-color : (
	font : #000000,
	background : #ffffff,
	hover : darken(#ffffff, 10),
	select : darken(#ffffff, 20),
	active : lighten(#ffffff, 10),
	ripple : $primary-color
);



$warn-button-color : (
	font : #ffffff,
	background : #c36e00,
	hover : darken(#c36e00, 10),
	active : lighten(#c36e00, 10),
	selected : darken(#c36e00, 20),
);

$success-button-color : (
	font : #ffffff,
	background : #20c300,
	hover :  darken(#20c300, 10),
	active :  lighten(#20c300, 10),
	selected : darken(#c36e00, 20),
);

$error-button-color : (
	font : #ffffff,
	background : #c30000,
	hover : darken(#c30000, 10),
	active : lighten(#c30000, 10),
	selected : darken(#c30000, 20),
);

//Forms
$input-border-color: $standard-border-color;
$input-form-background: #ffffff;
$input-border-width: 2px;
$input-padding-left-right: 3px;
$input-padding-top-bottom: 10px;
$input-margin: 10px;
$input-font-size: $standard-font-size;
$input-line-height: $standard-line-height;
$input-placeholder-color: #bbbbbb;
$input-icon-color: $standard-border-color;

$input-checkbox-size: 20px;
$input-checkbox-label-space: 20px;
$input-radio-size: 20px;
$input-radio-label-space: 20px;

$label-font-size: $very-small-font-size;
$label-margin: 5px;
$label-color: #222222;

$label-big-font-size: $standard-font-size;



//Text and Link color
$mark-color : #ff0000;
$link-color : #000000;
$link-color-hover : #666666;
$link-color-visited : #666666;


//animations
$loading-animation-color : #ffffff;

$spinner-color : #ffffff;
$small-spinner-size : 9px;
$standard-spinner-size : 20px;
$medium-spinner-size : 30px;
$big-spinner-size : 40px;
