//Standard Colors
$standard-font-color: #222222;
$invert-font-color: #ffffff;

$primary-color: #0093c3;
$primary-color-lighter: #00bfff;
$primary-color-medium-dark: #007aa3;
$primary-color-dark: #006282;

$warn-color: #c36e00;
$error-color: #c30000;
$success-color: #20c300;



//Fonts
$standard-font : "open_sansregular";
$bold-font : $standard-font;
$italic-font : $standard-font;
$headline-font : $standard-font;
$keyboard-command : $standard-font;

//Fontsizes
$standard-font-size: 14px;

$extra-big-font-size: 50px;
$big-font-size: 35px;
$semibig-font-size: 25px;
$medium-font-size: 18px;
$small-font-size: 12px;
$very-small-font-size : 8px;

//Iconssize
$standard-icon-size: 20px;

$extra-big-icon-size: 70px;

$big-icon-size: 45px;

$semibig-icon-size: 35px;
$medium-icon-size: 30px;
$small-icon-size: 14px;
$very-small-icon-size : 10px;

//Lineheight
$standard-line-height: 20px;
$extra-big-line-height: 60px;
$big-line-height: 45px;
$semibig-line-height: 32px;
$medium-line-height: 30px;
$small-line-height: 14px;
$very-small-line-height: 120%;

//margins
$single-margin: 15px;
$double-margin: 30px;
$triple-margin: 45px;

//grid
$grind-default-spacing: evently; //possible values are evently and between
$grid-space-between: 20px;
$grid-space-evently: 5px;

//buttons
$button-shadows : off;

$standard-button-padding-top-bottom: 10px;
$standard-button-padding-left-right: 20px;

$big-button-padding-top-bottom: 20px;
$big-button-padding-left-right: 40px;

$medium-button-padding-top-bottom: 15px;
$medium-button-padding-left-right: 30px;

$small-button-padding-top-bottom: 5px;
$small-button-padding-left-right: 10px;



$standard-button-font-color: #ffffff;
$standard-button-color: $primary-color;
$standard-button-color-hover: $primary-color-medium-dark;
$standard-button-color-active: $primary-color-lighter;
$success-button-color: #20c300;
$error-button-color: #c30000;





$primary-color : "";
$secondary-color : "";

$mark-color : #ff0000;
$link-color : #000000;
$link-color-hover : #666666;
$link-color-visited : #666666;


//animations
$loading-animation-color : #ffffff;

$spinner-color : #ffffff;
$small-spinner-size : 9px;
$standard-spinner-size : 20px;
$medium-spinner-size : 30px;
$big-spinner-size : 40px;
