@import "../config";

input, textarea{
	background: transparent;
	border: none;
	border-bottom: $input-border-width $input-border-color solid;
	padding: pxToRem($input-padding-left-right) pxToRem($input-padding-top-bottom);
	font-size: pxToRem($input-font-size);
	line-height: pxToRem($input-line-height);
	margin: 0;
	margin-bottom: $input-margin;
	box-sizing: border-box;
	display:block;
	width: 100%;
	z-index: 1;
	padding-left:0;
}


input:empty:focus, textarea:empty:focus{

	border-color: button-color(primary, background);
	outline: none;
}

input:valid{
	box-shadow: none;
	border-bottom: $input-border-width $input-border-color solid;
}


input:invalid{
	box-shadow: none;
 	border-color: $error-color;
}

input:disabled, 
textarea:disabled,
input[disabled],
textarea[disabled] {
	opacity : 0.8;
	border-bottom-style: dotted;
}


::-webkit-input-placeholder{
	color: $input-placeholder-color;
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

:focus::-webkit-input-placeholder{
	opacity: 0;
}


::-moz-placeholder{
	color: $input-placeholder-color;
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

:focus::-moz-placeholder{
	opacity: 0;
}

label{
	font-size: pxToRem($label-font-size);
	line-height: pxToRem($label-font-size);
	margin: 0;
	padding:0;
	color: $label-color;
	box-sizing: border-box;
	display: block;
	z-index:0;
	opacity: 0;
	position: relative;
	bottom: pxToRem(5px);
	color: button-color(primary, background);
}



[has~="abreast-labels"] {
	label, input, textarea{
		display: inline-block;
	}

	label {
		width: 30%;
		margin-top: 0;
		font-size: pxToRem($label-big-font-size);
		line-height: pxToRem($standard-line-height);
		margin-bottom: $label-margin;
		opacity: 1;
		color: $label-color;
		position: static;
	}

	input, textarea{
		width: 70%;
		max-width:70%;
		margin-left: -4px;
	}

}
