@import "../config";

input, textarea{
	background: transparent;
	border: none;
	border-bottom: $input-border-width $input-border-color solid;
	padding: pxToRem($input-padding-left-right) pxToRem($input-padding-top-bottom);
	font-size: pxToRem($input-font-size);
	line-height: pxToRem($input-line-height);
	margin: 0;
	margin-bottom: $input-margin;
	box-sizing: border-box;
	display:block;
	width: 100%;
	z-index: 1;
	padding-left:0;
}


input:empty:focus, textarea:empty:focus{
	border-color: $input-standard-color;
	outline: none;
}

input:valid{
	box-shadow: none;
	border-bottom: $input-border-width $input-border-color solid;
}


input:invalid{
	box-shadow: none;
 	border-color: $error-color;
}

input:disabled, 
textarea:disabled,
input[disabled],
textarea[disabled] {
	opacity : 0.8;
	border-bottom-style: dotted;
}


::-webkit-input-placeholder{
	color: $input-placeholder-color;
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

:focus::-webkit-input-placeholder{
	opacity: 0;
}


::-moz-placeholder{
	color: $input-placeholder-color;
	opacity: 1;
	transition: opacity 0.3s ease-out;
}

:focus::-moz-placeholder{
	opacity: 0;
}

label{
	font-size: pxToRem($label-font-size);
	line-height: pxToRem($label-font-size);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: block;
	z-index:0;
	opacity: 0;
	position: relative;
	bottom: pxToRem(5px);
	color: $input-standard-color;
}

input[type="checkbox"] + label,
input[type="radio"] + label{
	position: static;
	font-size: pxToRem($label-big-font-size);
	line-height: pxToRem($standard-line-height);
	margin-bottom: pxToRem($label-margin);
	opacity: 1;
	color: $label-color;
	display: inline-block;

}

input[type="checkbox"],
input[type="radio"]{

}

input[type="checkbox"]{
	width: pxToRem($input-checkbox-size);

}

input[type="radio"]{
	width: pxToRem($input-radio-size);
	height: pxToRem($input-radio-size);
	display: inline-block;
	padding:0;
	margin:0;
	vertical-align: top;
	box-sizing:border-box;
	-webkit-appearance: none;
	-moz-appearance: none !important;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	visibility: hidden;
	cursor: pointer;
	outline: none;
	margin-right: $input-radio-label-space;
}


[is="radio-overlay"] {
	position: relative;
	background: $input-standard-color;
	height: pxToRem($input-radio-size);
	width:  pxToRem($input-radio-size);
	border: 2px $input-standard-color solid;
	display:inline-block;
	vertical-align: top;
	cursor: pointer;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: inset 0 0 0 $input-radio-size white;
	margin-right: $input-radio-label-space;
}

[is="radio-overlay"][state="checked"] {
	@include animation(radioselect 0.3s ease-out 1 forwards);
}

[is="radio-overlay"][state="unchecked"]{
	@include animation(radiounselect 1s ease-out 1 forwards);
}

@include keyframes(radioselect){
	0% {
		box-shadow: inset 0 0 0 pxToRem($input-radio-size) white, 0 0 0 (pxToRem($input-radio-size) * 2) rgba($input-standard-color, 0);
	}
	40% {
		box-shadow: inset 0 0 0 pxToRem($input-radio-size) white, 0 0 0 (pxToRem($input-radio-size) / 2) rgba($input-standard-color, 0.8);
	}
	100% {
		box-shadow: inset 0 0 0 3px white, 0 0 0 0 rgba($input-standard-color, 0);
	}
}


@include keyframes(radiounselect){
	0% {
		box-shadow: inset 0 0 0 3px white,
	}
	40% {
		box-shadow: inset 0 0 0 pxToRem($input-radio-size) white;
	}
	100% {
		box-shadow: inset 0 0 0 $input-radio-size white;
	}
}



input[type="radio"] + label {
	@include calc(width, 99% - #{pxToRem($input-radio-size)} - #{pxToRem($input-radio-label-space)}  - 5px);
	display: inline-block;
	box-sizing:border-box;
}


//Checkboxes
input[type="checkbox"]{
	width: pxToRem($input-checkbox-size);
	height: pxToRem($input-checkbox-size);
	display: inline-block;
	padding:0;
	margin:0;
	vertical-align: top;
	box-sizing:border-box;
	-webkit-appearance: none;
	-moz-appearance: none !important;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	visibility: hidden;
	cursor: pointer;
	outline: none;
}


[is="checkbox-overlay"] {
	position: relative;
	border-radius: 2px;
	background: $input-standard-color;
	height: pxToRem($input-checkbox-size);
	width:  pxToRem($input-checkbox-size);
	border: 2px $input-standard-color solid;
	display:inline-block;
	vertical-align: top;
	cursor: pointer;
	box-shadow: inset 0 0 0 pxToRem($input-checkbox-size) white;
	margin-right: $input-checkbox-label-space;
	@include animation(checkboxunselect 0.3s ease-out 1 forwards);
}

[is="checkbox-overlay"][state="checked"] {

	@include animation(checkboxselect 0.3s ease-out 1 forwards);
}

[is="checkbox-overlay"]:before{
	font-size: pxToRem($input-checkbox-size - 6px);
	padding-left:  pxToRem(3px);
	padding-top:  pxToRem(3px);
}

[is="checkbox-overlay"][state="checked"]:before{
	color: #ffffff;
}

@include keyframes(checkboxselect){
	0% {
		box-shadow: inset 0 0 0 pxToRem($input-checkbox-size) white, 0 0 0 (pxToRem($input-checkbox-size) * 2);
		color: rgba($input-standard-color, 0);
	}
	40% {
		box-shadow: inset 0 0 0 pxToRem($input-checkbox-size) white, 0 0 0 (pxToRem($input-checkbox-size) / 2);
		color: rgba($input-standard-color, 0.8);
	}
	100% {
		box-shadow: inset 0 0 0 0 white, 0 0 0 0;
		color: rgba($input-standard-color, 0);
	}
}

@include keyframes(checkboxunselect){
	0% {
		box-shadow: inset 0 0 0 0 white, 0 0 0 0;
		color: rgba($input-standard-color, 0);
	}
	40% {
		box-shadow: inset 0 0 0 pxToRem($input-checkbox-size) white, 0 0 0 (pxToRem($input-checkbox-size) / 2);
		color: rgba($input-standard-color, 0.8);
	}
	100% {
		box-shadow: inset 0 0 0 pxToRem($input-checkbox-size) white;
		color: rgba($input-standard-color, 0);
	}
}



input[type="checkbox"] + label{
	@include calc(width, 99% - #{pxToRem($input-checkbox-size)} - #{pxToRem($input-checkbox-label-space)} - 5px);
	display: inline-block;
	box-sizing:border-box;
}



[is="form-error"]{
	font-size: $very-small-font-size;
	line-height: $very-small-font-size + 2;
	height: $very-small-font-size + 2;
	color: $error-color;
    display:block;
 	margin-top: - ($very-small-font-size - 2);
 	text-align: right;
}



[has~="abreast-labels"] {
	label, input, textarea{
		display: inline-block;
	}

	label {
		width: 30%;
		margin-top: 0;
		font-size: pxToRem($label-big-font-size);
		line-height: pxToRem($standard-line-height);
		margin-bottom: $label-margin;
		opacity: 1;
		color: $label-color;
		position: static;
	}

	input, textarea{
		width: 70%;
		max-width:70%;
		margin-left: -4px;
	}

}


