@import "../config/default";
@import "../config/custom";

/* Chrome hack: SVG is rendered more smooth in Windozze[has~=" 100% magic, uncomment if you need it[has~=" */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('[has~="[has~="/font/entypo[has~="svg?79439071#entypo') format('svg');
  }
}
*/
 
[has*="icon-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;
  font-size: $standard-icon-size;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0;
  text-align: center;

 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: 0;
  vertical-align: top;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0[has~="3); */
}
 
[has~="icon-note"]:before { content: '\e800'; } /* '' */
[has~="icon-note-beamed"]:before { content: '\e801'; } /* '' */
[has~="icon-search"]:before { content: '\e802'; } /* '' */
[has~="icon-mail"]:before { content: '\e803'; } /* '' */
[has~="icon-heart"]:before { content: '\e804'; } /* '' */
[has~="icon-heart-empty"]:before { content: '\e805'; } /* '' */
[has~="icon-star"]:before { content: '\e806'; } /* '' */
[has~="icon-star-empty"]:before { content: '\e807'; } /* '' */
[has~="icon-user-1"]:before { content: '\e808'; } /* '' */
[has~="icon-users"]:before { content: '\e809'; } /* '' */
[has~="icon-user-add"]:before { content: '\e80a'; } /* '' */
[has~="icon-video"]:before { content: '\e80b'; } /* '' */
[has~="icon-picture"]:before { content: '\e80c'; } /* '' */
[has~="icon-camera"]:before { content: '\e80d'; } /* '' */
[has~="icon-layout"]:before { content: '\e80e'; } /* '' */
[has~="icon-menu-1"]:before { content: '\e80f'; } /* '' */
[has~="icon-check"]:before { content: '\e810'; } /* '' */
[has~="icon-cancel"]:before { content: '\e811'; } /* '' */
[has~="icon-right-circled"]:before { content: '\e812'; } /* '' */
[has~="icon-cancel-circled-1"]:before { content: '\e813'; } /* '' */
[has~="icon-cancel-squared"]:before { content: '\e814'; } /* '' */
[has~="icon-plus"]:before { content: '\e815'; } /* '' */
[has~="icon-plus-circled"]:before { content: '\e816'; } /* '' */
[has~="icon-plus-squared"]:before { content: '\e817'; } /* '' */
[has~="icon-minus"]:before { content: '\e818'; } /* '' */
[has~="icon-minus-circled"]:before { content: '\e819'; } /* '' */
[has~="icon-minus-squared"]:before { content: '\e81a'; } /* '' */
[has~="icon-help"]:before { content: '\e81b'; } /* '' */
[has~="icon-help-circled"]:before { content: '\e81c'; } /* '' */
[has~="icon-info"]:before { content: '\e81d'; } /* '' */
[has~="icon-info-circled"]:before { content: '\e81e'; } /* '' */
[has~="icon-back"]:before { content: '\e81f'; } /* '' */
[has~="icon-home"]:before { content: '\e820'; } /* '' */
[has~="icon-link"]:before { content: '\e821'; } /* '' */
[has~="icon-attach"]:before { content: '\e822'; } /* '' */
[has~="icon-lock-open"]:before { content: '\e823'; } /* '' */
[has~="icon-eye"]:before { content: '\e824'; } /* '' */
[has~="icon-tag"]:before { content: '\e825'; } /* '' */
[has~="icon-bookmark"]:before { content: '\e826'; } /* '' */
[has~="icon-bookmarks"]:before { content: '\e827'; } /* '' */
[has~="icon-flag"]:before { content: '\e828'; } /* '' */
[has~="icon-thumbs-up"]:before { content: '\e829'; } /* '' */
[has~="icon-thumbs-down"]:before { content: '\e82a'; } /* '' */
[has~="icon-download"]:before { content: '\e82b'; } /* '' */
[has~="icon-upload"]:before { content: '\e82c'; } /* '' */
[has~="icon-upload-cloud"]:before { content: '\e82d'; } /* '' */
[has~="icon-reply"]:before { content: '\e82e'; } /* '' */
[has~="icon-reply-all"]:before { content: '\e82f'; } /* '' */
[has~="icon-forward"]:before { content: '\e830'; } /* '' */
[has~="icon-quote"]:before { content: '\e831'; } /* '' */
[has~="icon-code"]:before { content: '\e832'; } /* '' */
[has~="icon-export"]:before { content: '\e833'; } /* '' */
[has~="icon-pencil"]:before { content: '\e834'; } /* '' */
[has~="icon-feather"]:before { content: '\e835'; } /* '' */
[has~="icon-print"]:before { content: '\e836'; } /* '' */
[has~="icon-retweet"]:before { content: '\e837'; } /* '' */
[has~="icon-keyboard"]:before { content: '\e838'; } /* '' */
[has~="icon-comment"]:before { content: '\e839'; } /* '' */
[has~="icon-chat"]:before { content: '\e83a'; } /* '' */
[has~="icon-bell"]:before { content: '\e83b'; } /* '' */
[has~="icon-attention"]:before { content: '\e83c'; } /* '' */
[has~="icon-alert"]:before { content: '\e83d'; } /* '' */
[has~="icon-vcard"]:before { content: '\e83e'; } /* '' */
[has~="icon-address"]:before { content: '\e83f'; } /* '' */
[has~="icon-location"]:before { content: '\e840'; } /* '' */
[has~="icon-map"]:before { content: '\e841'; } /* '' */
[has~="icon-direction"]:before { content: '\e842'; } /* '' */
[has~="icon-compass"]:before { content: '\e843'; } /* '' */
[has~="icon-cup"]:before { content: '\e844'; } /* '' */
[has~="icon-trash"]:before { content: '\e845'; } /* '' */
[has~="icon-doc"]:before { content: '\e846'; } /* '' */
[has~="icon-docs"]:before { content: '\e847'; } /* '' */
[has~="icon-doc-landscape"]:before { content: '\e848'; } /* '' */
[has~="icon-doc-text"]:before { content: '\e849'; } /* '' */
[has~="icon-doc-text-inv"]:before { content: '\e84a'; } /* '' */
[has~="icon-newspaper"]:before { content: '\e84b'; } /* '' */
[has~="icon-book-open"]:before { content: '\e84c'; } /* '' */
[has~="icon-book"]:before { content: '\e84d'; } /* '' */
[has~="icon-hourglass"]:before { content: '\e84e'; } /* '' */
[has~="icon-clock"]:before { content: '\e84f'; } /* '' */
[has~="icon-volume"]:before { content: '\e850'; } /* '' */
[has~="icon-sound"]:before { content: '\e851'; } /* '' */
[has~="icon-mute"]:before { content: '\e852'; } /* '' */
[has~="icon-mic"]:before { content: '\e853'; } /* '' */
[has~="icon-logout"]:before { content: '\e854'; } /* '' */
[has~="icon-login"]:before { content: '\e855'; } /* '' */
[has~="icon-calendar"]:before { content: '\e856'; } /* '' */
[has~="icon-bag"]:before { content: '\e857'; } /* '' */
[has~="icon-basket"]:before { content: '\e858'; } /* '' */
[has~="icon-shareable"]:before { content: '\e859'; } /* '' */
[has~="icon-share"]:before { content: '\e85a'; } /* '' */
[has~="icon-tools"]:before { content: '\e85b'; } /* '' */
[has~="icon-cog"]:before { content: '\e85c'; } /* '' */
[has~="icon-phone"]:before { content: '\e85d'; } /* '' */
[has~="icon-rss"]:before { content: '\e85e'; } /* '' */
[has~="icon-box"]:before { content: '\e85f'; } /* '' */
[has~="icon-archive"]:before { content: '\e860'; } /* '' */
[has~="icon-folder"]:before { content: '\e861'; } /* '' */
[has~="icon-lamp"]:before { content: '\e862'; } /* '' */
[has~="icon-light-down"]:before { content: '\e863'; } /* '' */
[has~="icon-light-up"]:before { content: '\e864'; } /* '' */
[has~="icon-adjust"]:before { content: '\e865'; } /* '' */
[has~="icon-block"]:before { content: '\e866'; } /* '' */
[has~="icon-resize-full"]:before { content: '\e867'; } /* '' */
[has~="icon-resize-small"]:before { content: '\e868'; } /* '' */
[has~="icon-popup"]:before { content: '\e869'; } /* '' */
[has~="icon-publish"]:before { content: '\e86a'; } /* '' */
[has~="icon-window"]:before { content: '\e86b'; } /* '' */
[has~="icon-arrow-combo"]:before { content: '\e86c'; } /* '' */
[has~="icon-down-circled"]:before { content: '\e86d'; } /* '' */
[has~="icon-left-circled"]:before { content: '\e86e'; } /* '' */
[has~="icon-right-circled-1"]:before { content: '\e86f'; } /* '' */
[has~="icon-up-circled"]:before { content: '\e870'; } /* '' */
[has~="icon-down-open"]:before { content: '\e871'; } /* '' */
[has~="icon-left-open"]:before { content: '\e872'; } /* '' */
[has~="icon-right-open"]:before { content: '\e873'; } /* '' */
[has~="icon-down-open-mini"]:before { content: '\e874'; } /* '' */
[has~="icon-down-thin"]:before { content: '\e875'; } /* '' */
[has~="icon-up-bold"]:before { content: '\e876'; } /* '' */
[has~="icon-left-thin"]:before { content: '\e877'; } /* '' */
[has~="icon-right-bold"]:before { content: '\e878'; } /* '' */
[has~="icon-left-bold"]:before { content: '\e879'; } /* '' */
[has~="icon-down-bold"]:before { content: '\e87a'; } /* '' */
[has~="icon-up-dir"]:before { content: '\e87b'; } /* '' */
[has~="icon-right-dir"]:before { content: '\e87c'; } /* '' */
[has~="icon-left-dir"]:before { content: '\e87d'; } /* '' */
[has~="icon-down-dir"]:before { content: '\e87e'; } /* '' */
[has~="icon-up"]:before { content: '\e87f'; } /* '' */
[has~="icon-right"]:before { content: '\e880'; } /* '' */
[has~="icon-left"]:before { content: '\e881'; } /* '' */
[has~="icon-down"]:before { content: '\e882'; } /* '' */
[has~="icon-left-open-mini"]:before { content: '\e883'; } /* '' */
[has~="icon-right-thin"]:before { content: '\e884'; } /* '' */
[has~="icon-up-thin"]:before { content: '\e885'; } /* '' */
[has~="icon-ccw"]:before { content: '\e886'; } /* '' */
[has~="icon-cw"]:before { content: '\e887'; } /* '' */
[has~="icon-arrows-ccw"]:before { content: '\e888'; } /* '' */
[has~="icon-progress-0"]:before { content: '\e889'; } /* '' */
[has~="icon-up-open"]:before { content: '\e88a'; } /* '' */
[has~="icon-level-down"]:before { content: '\e88b'; } /* '' */
[has~="icon-level-up"]:before { content: '\e88c'; } /* '' */
[has~="icon-shuffle"]:before { content: '\e88d'; } /* '' */
[has~="icon-loop"]:before { content: '\e88e'; } /* '' */
[has~="icon-switch"]:before { content: '\e88f'; } /* '' */
[has~="icon-play"]:before { content: '\e890'; } /* '' */
[has~="icon-stop"]:before { content: '\e891'; } /* '' */
[has~="icon-pause"]:before { content: '\e892'; } /* '' */
[has~="icon-record"]:before { content: '\e893'; } /* '' */
[has~="icon-to-end"]:before { content: '\e894'; } /* '' */
[has~="icon-to-start"]:before { content: '\e895'; } /* '' */
[has~="icon-fast-forward"]:before { content: '\e896'; } /* '' */
[has~="icon-fast-backward"]:before { content: '\e897'; } /* '' */
[has~="icon-up-open-mini"]:before { content: '\e898'; } /* '' */
[has~="icon-right-open-mini"]:before { content: '\e899'; } /* '' */
[has~="icon-left-open-big"]:before { content: '\e89a'; } /* '' */
[has~="icon-down-open-big"]:before { content: '\e89b'; } /* '' */
[has~="icon-right-open-big"]:before { content: '\e89c'; } /* '' */
[has~="icon-up-open-big"]:before { content: '\e89d'; } /* '' */
[has~="icon-progress-1"]:before { content: '\e89e'; } /* '' */
[has~="icon-progress-2"]:before { content: '\e89f'; } /* '' */
[has~="icon-progress-3"]:before { content: '\e8a0'; } /* '' */
[has~="icon-target"]:before { content: '\e8a1'; } /* '' */
[has~="icon-palette"]:before { content: '\e8a2'; } /* '' */
[has~="icon-list"]:before { content: '\e8a3'; } /* '' */
[has~="icon-list-add"]:before { content: '\e8a4'; } /* '' */
[has~="icon-signal"]:before { content: '\e8a5'; } /* '' */
[has~="icon-trophy"]:before { content: '\e8a6'; } /* '' */
[has~="icon-battery"]:before { content: '\e8a7'; } /* '' */
[has~="icon-back-in-time"]:before { content: '\e8a8'; } /* '' */
[has~="icon-monitor"]:before { content: '\e8a9'; } /* '' */
[has~="icon-mobile"]:before { content: '\e8aa'; } /* '' */
[has~="icon-network"]:before { content: '\e8ab'; } /* '' */
[has~="icon-cd"]:before { content: '\e8ac'; } /* '' */
[has~="icon-inbox"]:before { content: '\e8ad'; } /* '' */
[has~="icon-install"]:before { content: '\e8ae'; } /* '' */
[has~="icon-globe"]:before { content: '\e8af'; } /* '' */
[has~="icon-cloud"]:before { content: '\e8b0'; } /* '' */
[has~="icon-cloud-thunder"]:before { content: '\e8b1'; } /* '' */
[has~="icon-chart-area"]:before { content: '\e8b2'; } /* '' */
[has~="icon-chart-bar"]:before { content: '\e8b3'; } /* '' */
[has~="icon-chart-line"]:before { content: '\e8b4'; } /* '' */
[has~="icon-chart-pie"]:before { content: '\e8b5'; } /* '' */
[has~="icon-erase"]:before { content: '\e8b6'; } /* '' */
[has~="icon-infinity"]:before { content: '\e8b7'; } /* '' */
[has~="icon-magnet"]:before { content: '\e8b8'; } /* '' */
[has~="icon-brush"]:before { content: '\e8b9'; } /* '' */
[has~="icon-dot-3"]:before { content: '\e8ba'; } /* '' */
[has~="icon-dot-2"]:before { content: '\e8bb'; } /* '' */
[has~="icon-dot"]:before { content: '\e8bc'; } /* '' */
[has~="icon-suitcase"]:before { content: '\e8bd'; } /* '' */
[has~="icon-briefcase"]:before { content: '\e8be'; } /* '' */
[has~="icon-mouse"]:before { content: '\e8bf'; } /* '' */
[has~="icon-lifebuoy"]:before { content: '\e8c0'; } /* '' */
[has~="icon-leaf"]:before { content: '\e8c1'; } /* '' */
[has~="icon-paper-plane"]:before { content: '\e8c2'; } /* '' */
[has~="icon-flight"]:before { content: '\e8c3'; } /* '' */
[has~="icon-moon"]:before { content: '\e8c4'; } /* '' */
[has~="icon-flash"]:before { content: '\e8c5'; } /* '' */
[has~="icon-tape"]:before { content: '\e8c6'; } /* '' */
[has~="icon-graduation-cap"]:before { content: '\e8c7'; } /* '' */
[has~="icon-language"]:before { content: '\e8c8'; } /* '' */
[has~="icon-ticket"]:before { content: '\e8c9'; } /* '' */
[has~="icon-water"]:before { content: '\e8ca'; } /* '' */
[has~="icon-air"]:before { content: '\e8cb'; } /* '' */
[has~="icon-droplet"]:before { content: '\e8cc'; } /* '' */
[has~="icon-credit-card"]:before { content: '\e8cd'; } /* '' */
[has~="icon-floppy-1"]:before { content: '\e8ce'; } /* '' */
[has~="icon-clipboard"]:before { content: '\e8cf'; } /* '' */
[has~="icon-megaphone"]:before { content: '\e8d0'; } /* '' */
[has~="icon-database"]:before { content: '\e8d1'; } /* '' */
[has~="icon-drive"]:before { content: '\e8d2'; } /* '' */
[has~="icon-bucket"]:before { content: '\e8d3'; } /* '' */
[has~="icon-thermometer"]:before { content: '\e8d4'; } /* '' */
[has~="icon-key"]:before { content: '\e8d5'; } /* '' */
[has~="icon-flow-cascade"]:before { content: '\e8d6'; } /* '' */
[has~="icon-flow-branch"]:before { content: '\e8d7'; } /* '' */
[has~="icon-flow-tree"]:before { content: '\e8d8'; } /* '' */
[has~="icon-flow-line"]:before { content: '\e8d9'; } /* '' */
[has~="icon-vimeo"]:before { content: '\e8da'; } /* '' */
[has~="icon-flickr-circled"]:before { content: '\e8db'; } /* '' */
[has~="icon-flickr"]:before { content: '\e8dc'; } /* '' */
[has~="icon-github-circled"]:before { content: '\e8dd'; } /* '' */
[has~="icon-github"]:before { content: '\e8de'; } /* '' */
[has~="icon-cc-remix"]:before { content: '\e8df'; } /* '' */
[has~="icon-cc-share"]:before { content: '\e8e0'; } /* '' */
[has~="icon-cc-zero"]:before { content: '\e8e1'; } /* '' */
[has~="icon-cc-pd"]:before { content: '\e8e2'; } /* '' */
[has~="icon-cc-nd"]:before { content: '\e8e3'; } /* '' */
[has~="icon-cc-sa"]:before { content: '\e8e4'; } /* '' */
[has~="icon-cc-nc-jp"]:before { content: '\e8e5'; } /* '' */
[has~="icon-cc-nc-eu"]:before { content: '\e8e6'; } /* '' */
[has~="icon-cc-nc"]:before { content: '\e8e7'; } /* '' */
[has~="icon-cc-by"]:before { content: '\e8e8'; } /* '' */
[has~="icon-cc"]:before { content: '\e8e9'; } /* '' */
[has~="icon-traffic-cone"]:before { content: '\e8ea'; } /* '' */
[has~="icon-gauge"]:before { content: '\e8eb'; } /* '' */
[has~="icon-rocket"]:before { content: '\e8ec'; } /* '' */
[has~="icon-flow-parallel"]:before { content: '\e8ed'; } /* '' */
[has~="icon-vimeo-circled"]:before { content: '\e8ee'; } /* '' */
[has~="icon-twitter"]:before { content: '\e8ef'; } /* '' */
[has~="icon-twitter-circled"]:before { content: '\e8f0'; } /* '' */
[has~="icon-facebook"]:before { content: '\e8f1'; } /* '' */
[has~="icon-facebook-circled"]:before { content: '\e8f2'; } /* '' */
[has~="icon-facebook-squared"]:before { content: '\e8f3'; } /* '' */
[has~="icon-gplus"]:before { content: '\e8f4'; } /* '' */
[has~="icon-gplus-circled"]:before { content: '\e8f5'; } /* '' */
[has~="icon-pinterest"]:before { content: '\e8f6'; } /* '' */
[has~="icon-pinterest-circled"]:before { content: '\e8f7'; } /* '' */
[has~="icon-tumblr-circled"]:before { content: '\e8f8'; } /* '' */
[has~="icon-linkedin"]:before { content: '\e8f9'; } /* '' */
[has~="icon-tumblr"]:before { content: '\e8fa'; } /* '' */
[has~="icon-linkedin-circled"]:before { content: '\e8fb'; } /* '' */
[has~="icon-dribbble"]:before { content: '\e8fc'; } /* '' */
[has~="icon-dribbble-circled"]:before { content: '\e8fd'; } /* '' */
[has~="icon-stumbleupon"]:before { content: '\e8fe'; } /* '' */
[has~="icon-stumbleupon-circled"]:before { content: '\e8ff'; } /* '' */
[has~="icon-lastfm"]:before { content: '\e900'; } /* '' */
[has~="icon-lastfm-circled"]:before { content: '\e901'; } /* '' */
[has~="icon-vkontakte"]:before { content: '\e902'; } /* '' */
[has~="icon-google-circles"]:before { content: '\e903'; } /* '' */
[has~="icon-behance"]:before { content: '\e904'; } /* '' */
[has~="icon-mixi"]:before { content: '\e905'; } /* '' */
[has~="icon-soundcloud"]:before { content: '\e906'; } /* '' */
[has~="icon-paypal"]:before { content: '\e907'; } /* '' */
[has~="icon-sina-weibo"]:before { content: '\e908'; } /* '' */
[has~="icon-renren"]:before { content: '\e909'; } /* '' */
[has~="icon-skype-circled"]:before { content: '\e90a'; } /* '' */
[has~="icon-skype"]:before { content: '\e90b'; } /* '' */
[has~="icon-flattr"]:before { content: '\e90c'; } /* '' */
[has~="icon-evernote"]:before { content: '\e90d'; } /* '' */
[has~="icon-dropbox"]:before { content: '\e90e'; } /* '' */
[has~="icon-instagram"]:before { content: '\e90f'; } /* '' */
[has~="icon-qq"]:before { content: '\e910'; } /* '' */
[has~="icon-spotify-circled"]:before { content: '\e911'; } /* '' */
[has~="icon-logo-db"]:before { content: '\e912'; } /* '' */
[has~="icon-db-shape"]:before { content: '\e913'; } /* '' */
[has~="icon-spotify"]:before { content: '\e914'; } /* '' */
[has~="icon-rdio-circled"]:before { content: '\e915'; } /* '' */
[has~="icon-sweden"]:before { content: '\e916'; } /* '' */
[has~="icon-smashing"]:before { content: '\e917'; } /* '' */
[has~="icon-rdio"]:before { content: '\e918'; } /* '' */
[has~="icon-flashlight"]:before { content: '\e919'; } /* '' */