@import "../config";

h1, h2, h3, h4, h5, h6{
	font-family: $headline-font;
}

h1 {
	font-size: pxToRem($extra-big-font-size);
	line-height: pxToRem($extra-big-line-height);
	margin-bottom: pxToRem($double-margin);
}

h2 {
	font-size: pxToRem($big-font-size);
	line-height: pxToRem($big-line-height);
	margin-bottom: pxToRem($single-margin);
}

h3 {
	font-size: pxToRem($semibig-font-size);
	line-height: pxToRem($semibig-line-height);
	margin-bottom: pxToRem($single-margin);
}

h4 {
	font-size: pxToRem($medium-font-size);
	line-height: pxToRem($medium-line-height);
	margin-bottom: pxToRem($single-margin);
}

h5 {
	font-size: pxToRem($standard-font-size);
	line-height: pxToRem($standard-line-height);
	margin-bottom: pxToRem($single-margin);
}

h6 {
	font-size: pxToRem($small-font-size);
	line-height: pxToRem($small-line-height);
	margin-bottom: pxToRem($single-margin);
}


strong {
	font-style: bold;
	font-family: $bold-font;
}

cite,
em {
	font-style:italic;
	font-family: $italic-font;
}

small {
	font-size: pxToRem($very-small-font-size);
}

mark{
	background-color: $mark-color;
	color: $invert-font-color;
}

s{
	text-decoration: line-through;
}

abbr{
	font-variant: none;
	border-bottom: 1px dotted $standard-font-color;
}

q, blockquote{
	font-family: $italic-font;

}


q:before, blockquote:before{
	content: "»";
}

q:after, blockquote:after{
	content: "«";
}

kbd{
	font-family: $keyboard-command;
	background-color: $standard-font-color;
	color: $invert-font-color;
	letter-spacing: 2px;
}


p{
	margin-bottom: pxToRem($single-margin);
}
