button,
[role=button],
[is="button"] {
  background-color: #0093c3;
  padding: 0.71429rem 1.42857rem;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.42857rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out,  transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: hidden;
  display: inline-block;
  z-index: 1;
  vertical-align: text-bottom;
  box-sizing: content-box;
  max-height: 1.42857rem;
  text-decoration: none;
  border-radius: 0rem;
  transform: scale3d(1, 1, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -mold-ripple: button; }

button:not([state="disabled"]):not([state="loading"]):not([state="selected"]):hover,
[role=button]:not([state="disabled"]):not([state="loading"]):not([state="selected"]):hover,
[type=button]:not([state="disabled"]):not([state="loading"]):not([state="selected"]):hover,
[is="button"]:not([state="disabled"]):not([state="loading"]):not([state="selected"]):hover {
  background-color: #006d90; }

button[state="selected"],
[role=button][state="selected"],
[type=button][state="selected"],
[is="button"][state="selected"] {
  background-color: #00465d;
  box-shadow: inset 0 -4px 0px #0093c3;
  color: rgba(255, 255, 255, 0.9); }

button:disabled,
button[disabled],
button[state="loading"],
[role="button"]:disabled,
[role="button"][disabled],
[role="button"][state="loading"],
[is="button"]:disabled,
[is="button"][disabled],
[is="button"][state="loading"] {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 147, 195, 0.7); }

button[has~="big-size"],
[role="button"][has~="big-size"],
[is="button"][has~="big-size"] {
  line-height: 3.21429rem;
  max-height: 3.21429rem;
  padding: 1.42857rem 2.85714rem; }

button[has~="medium-size"],
[role="button"][has~="medium-size"],
[is="button"][has~="medium-size"] {
  line-height: 2.14286rem;
  max-height: 2.14286rem;
  padding: 1.07143rem 2.14286rem; }

button[has~="small-size"],
[role="button"][has~="small-size"],
[is="button"][has~="small-size"] {
  line-height: 1rem;
  max-height: 1rem;
  padding: 0.35714rem 0.71429rem; }

button[has~="round-shapes"],
[role="button"][has~="round-shapes"],
[is="button"][has~="round-shapes"] {
  border-radius: 100%;
  height: 1.42857rem;
  width: 1.42857rem;
  padding: 0.71429rem; }

button[has~="round-shapes"][has~="big-size"],
[role="button"][has~="round-shapes"][has~="big-size"],
[is="button"][has~="round-shapes"][has~="big-size"] {
  height: 3.21429rem;
  width: 3.21429rem;
  padding: 1.42857rem; }

button[has~="round-shapes"][has~="medium-size"],
[role="button"][has~="round-shapes"][has~="medium-size"],
[is="button"][has~="round-shapes"][has~="medium-size"] {
  height: 2.14286rem;
  width: 2.14286rem;
  padding: 1.07143rem; }

button[has~="round-shapes"][has~="small-size"],
[role="button"][has~="round-shapes"][has~="small-size"],
[is="button"][has~="round-shapes"][has~="small-size"] {
  height: 1rem;
  width: 1rem;
  padding: 0.35714rem; }

button:before,
[role=button]:before,
[is="button"]:before {
  margin-right: 0.5em; }

.ripple-helper {
  background: #00b9f6;
  display: block;
  width: 1.42857rem;
  height: 1.42857rem;
  border-radius: 1.42857rem;
  top: 0;
  left: 0;
  transform: scale3d(1, 1, 1);
  position: absolute;
  opacity: 0;
  z-index: -1; }

[is="option-bar"],
[is="button-bar"] {
  text-align: right;
  font-size: 0; }

[is="option-bar"][has~="full-width-buttons"],
[is="button-bar"][has~="full-width-buttons"] {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row; }

[is="option-bar"][has~="full-width-buttons"] [is="button"],
[is="button-bar"][has~="full-width-buttons"] [is="button"] {
  display: inline-flex;
  -webkit-flex-grow: 1;
  flex-grow: 1; }

[is="button-bar"] > [is="option-bar"],
[is="button-bar"] > [is="button-bar"] {
  display: inline-block; }

[is="option-bar"][has~="left-align"],
[is="button-bar"][has~="left-align"] {
  text-align: left; }

[is="button-bar"] > [is="option-bar"][has~="left-align"],
[is="button-bar"] > [is="button-bar"][has~="left-align"] {
  float: left; }

[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(2),
[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(2) ~ [is="option-bar"],
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(2),
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(2) ~ [is="button-bar"] {
  width: 50%; }

[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(2),
[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(2) ~ [is="button-bar"] > [is="option-bar"],
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(2),
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(2) ~ [is="button-bar"] > [is="button-bar"] {
  text-align: left; }

[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(3),
[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(3) ~ [is="option-bar"],
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(3),
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(3) ~ [is="button-bar"] {
  width: 33.33%; }

[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(3) ~ [is="option-bar"],
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(3) ~ [is="button-bar"] {
  text-align: center; }

[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(3) ~ [is="option-bar"]:last-child,
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(3) ~ [is="button-bar"]:last-child {
  text-align: right; }

[is="button-bar"] > [is="option-bar"]:first-child:nth-last-child(3),
[is="button-bar"] > [is="button-bar"]:first-child:nth-last-child(3) {
  text-align: left; }

[is="button-bar"][has~="seperator"] > button,
[is="button-bar"][has~="seperator"] > [role=button],
[is="button-bar"][has~="seperator"] > [type=button],
[is="button-bar"][has~="seperator"] > [is="button"] {
  border-right: 0.14286rem solid #ffffff; }
  [is="button-bar"][has~="seperator"] > button:last-child,
  [is="button-bar"][has~="seperator"] > [role=button]:last-child,
  [is="button-bar"][has~="seperator"] > [type=button]:last-child,
  [is="button-bar"][has~="seperator"] > [is="button"]:last-child {
    border-right: none; }

/*# sourceMappingURL=buttons.css.map */
