input, textarea {
  background: transparent;
  border: none;
  border-bottom: 2px #999999 solid;
  padding: 0.21429rem 0.71429rem;
  font-size: 1rem;
  line-height: 1.42857rem;
  margin: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  z-index: 1;
  padding-left: 0; }

input:empty:focus, textarea:empty:focus {
  border-color: #a601bf;
  outline: none; }

input:valid {
  box-shadow: none;
  border-bottom: 2px #999999 solid; }

input:invalid {
  box-shadow: none;
  border-color: #c30000; }

input:disabled,
textarea:disabled,
input[disabled],
textarea[disabled] {
  opacity: 0.8;
  border-bottom-style: dotted; }

::-webkit-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
  transition: opacity 0.3s ease-out; }

:focus::-webkit-input-placeholder {
  opacity: 0; }

::-moz-placeholder {
  color: #bbbbbb;
  opacity: 1;
  transition: opacity 0.3s ease-out; }

:focus::-moz-placeholder {
  opacity: 0; }

label {
  font-size: 0.71429rem;
  line-height: 0.71429rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
  z-index: 0;
  opacity: 0;
  position: relative;
  bottom: 0.35714rem;
  color: #a601bf; }

input[type="checkbox"] + label,
input[type="radio"] + label {
  position: static;
  font-size: 1rem;
  line-height: 1.42857rem;
  margin-bottom: 0.35714rem;
  opacity: 1;
  color: #222222;
  display: inline-block; }

input[type="checkbox"] {
  width: 1.42857rem; }

input[type="radio"] {
  width: 1.42857rem;
  height: 1.42857rem;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none !important;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  visibility: hidden;
  cursor: pointer;
  outline: none;
  margin-right: 20px; }

[is="radio-overlay"] {
  position: relative;
  background: #a601bf;
  height: 1.42857rem;
  width: 1.42857rem;
  border: 2px #a601bf solid;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: inset 0 0 0 20px white;
  margin-right: 20px; }

[is="radio-overlay"][state="checked"] {
  -webkit-animation: radioselect 0.3s ease-out 1 forwards;
  -moz-animation: radioselect 0.3s ease-out 1 forwards;
  -ms-animation: radioselect 0.3s ease-out 1 forwards;
  -o-animation: radioselect 0.3s ease-out 1 forwards;
  animation: radioselect 0.3s ease-out 1 forwards; }

[is="radio-overlay"][state="unchecked"] {
  -webkit-animation: radiounselect 1s ease-out 1 forwards;
  -moz-animation: radiounselect 1s ease-out 1 forwards;
  -ms-animation: radiounselect 1s ease-out 1 forwards;
  -o-animation: radiounselect 1s ease-out 1 forwards;
  animation: radiounselect 1s ease-out 1 forwards; }

@keyframes radioselect {
  0% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 2.85714rem rgba(166, 1, 191, 0); }
  40% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 0.71429rem rgba(166, 1, 191, 0.8); }
  100% {
    box-shadow: inset 0 0 0 3px white, 0 0 0 0 rgba(166, 1, 191, 0); } }
@-webkit-keyframes radioselect {
  0% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 2.85714rem rgba(166, 1, 191, 0); }
  40% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 0.71429rem rgba(166, 1, 191, 0.8); }
  100% {
    box-shadow: inset 0 0 0 3px white, 0 0 0 0 rgba(166, 1, 191, 0); } }
@keyframes radiounselect {
  0% {
    box-shadow: inset 0 0 0 3px white; }
  40% {
    box-shadow: inset 0 0 0 1.42857rem white; }
  100% {
    box-shadow: inset 0 0 0 20px white; } }
@-webkit-keyframes radiounselect {
  0% {
    box-shadow: inset 0 0 0 3px white; }
  40% {
    box-shadow: inset 0 0 0 1.42857rem white; }
  100% {
    box-shadow: inset 0 0 0 20px white; } }
input[type="radio"] + label {
  width: -webkit-calc(99% - 1.42857rem - 1.42857rem - 5px);
  width: -moz-calc(99% - 1.42857rem - 1.42857rem - 5px);
  width: calc(99% - 1.42857rem - 1.42857rem - 5px);
  display: inline-block;
  box-sizing: border-box; }

input[type="checkbox"] {
  width: 1.42857rem;
  height: 1.42857rem;
  display: inline-block;
  padding: 0;
  margin: 0;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none !important;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  visibility: hidden;
  cursor: pointer;
  outline: none; }

[is="checkbox-overlay"] {
  position: relative;
  border-radius: 2px;
  background: #a601bf;
  height: 1.42857rem;
  width: 1.42857rem;
  border: 2px #a601bf solid;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  box-shadow: inset 0 0 0 1.42857rem white;
  margin-right: 20px;
  -webkit-animation: checkboxunselect 0.3s ease-out 1 forwards;
  -moz-animation: checkboxunselect 0.3s ease-out 1 forwards;
  -ms-animation: checkboxunselect 0.3s ease-out 1 forwards;
  -o-animation: checkboxunselect 0.3s ease-out 1 forwards;
  animation: checkboxunselect 0.3s ease-out 1 forwards; }

[is="checkbox-overlay"][state="checked"] {
  -webkit-animation: checkboxselect 0.3s ease-out 1 forwards;
  -moz-animation: checkboxselect 0.3s ease-out 1 forwards;
  -ms-animation: checkboxselect 0.3s ease-out 1 forwards;
  -o-animation: checkboxselect 0.3s ease-out 1 forwards;
  animation: checkboxselect 0.3s ease-out 1 forwards; }

[is="checkbox-overlay"]:before {
  font-size: 1rem;
  padding-left: 0.21429rem;
  padding-top: 0.21429rem; }

[is="checkbox-overlay"][state="checked"]:before {
  color: #ffffff; }

@keyframes checkboxselect {
  0% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 2.85714rem;
    color: rgba(166, 1, 191, 0); }
  40% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 0.71429rem;
    color: rgba(166, 1, 191, 0.8); }
  100% {
    box-shadow: inset 0 0 0 0 white, 0 0 0 0;
    color: rgba(166, 1, 191, 0); } }
@-webkit-keyframes checkboxselect {
  0% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 2.85714rem;
    color: rgba(166, 1, 191, 0); }
  40% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 0.71429rem;
    color: rgba(166, 1, 191, 0.8); }
  100% {
    box-shadow: inset 0 0 0 0 white, 0 0 0 0;
    color: rgba(166, 1, 191, 0); } }
@keyframes checkboxunselect {
  0% {
    box-shadow: inset 0 0 0 0 white, 0 0 0 0;
    color: rgba(166, 1, 191, 0); }
  40% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 0.71429rem;
    color: rgba(166, 1, 191, 0.8); }
  100% {
    box-shadow: inset 0 0 0 1.42857rem white;
    color: rgba(166, 1, 191, 0); } }
@-webkit-keyframes checkboxunselect {
  0% {
    box-shadow: inset 0 0 0 0 white, 0 0 0 0;
    color: rgba(166, 1, 191, 0); }
  40% {
    box-shadow: inset 0 0 0 1.42857rem white, 0 0 0 0.71429rem;
    color: rgba(166, 1, 191, 0.8); }
  100% {
    box-shadow: inset 0 0 0 1.42857rem white;
    color: rgba(166, 1, 191, 0); } }
input[type="checkbox"] + label {
  width: -webkit-calc(99% - 1.42857rem - 1.42857rem - 5px);
  width: -moz-calc(99% - 1.42857rem - 1.42857rem - 5px);
  width: calc(99% - 1.42857rem - 1.42857rem - 5px);
  display: inline-block;
  box-sizing: border-box; }

[is="form-error"] {
  font-size: 10px;
  line-height: 12px;
  height: 12px;
  color: #c30000;
  display: block;
  margin-top: -8px;
  text-align: right; }

[has~="abreast-labels"] label, [has~="abreast-labels"] input, [has~="abreast-labels"] textarea {
  display: inline-block; }
[has~="abreast-labels"] label {
  width: 30%;
  margin-top: 0;
  font-size: 1rem;
  line-height: 1.42857rem;
  margin-bottom: 5px;
  opacity: 1;
  color: #222222;
  position: static; }
[has~="abreast-labels"] input, [has~="abreast-labels"] textarea {
  width: 70%;
  max-width: 70%;
  margin-left: -4px; }

/*# sourceMappingURL=form.css.map */
