[is="row"] {
  display: flex;
  font-size: 0;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; }

[is="column"] {
  font-size: 14px;
  display: inline-flex;
  box-sizing: border-box;
  border: 1px #000 solid;
  background: #efefef;
  flex-direction: column;
  -webkit-flex-direction: column;
  overflow: hidden;
  -webkit-flex-grow: 1;
  flex-grow: 1; }

[is="row"][has="no-grow"] [is="column"] {
  flex-grow: 0; }

[is="row"] > [is="column"]:first-child,
[is="row"] > [is="column"]:last-child,
[is="row"] > [is="column"] {
  padding: 5px; }

[is="item"] {
  font-size: 14px;
  display: inline-block; }

[is="row"][has~="1-columns"] > [is="column"] {
  flex-basis: 100%; }

[is="row"][has~="1-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="1-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="2-columns"] > [is="column"] {
  flex-basis: 50%; }

[is="row"][has~="2-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 50%; }

[is="row"][has~="2-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 50%; }

[is="row"][has~="2-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="2-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="3-columns"] > [is="column"] {
  flex-basis: 33.33333%; }

[is="row"][has~="3-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 33.33333%; }

[is="row"][has~="3-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 33.33333%; }

[is="row"][has~="3-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 66.66667%; }

[is="row"][has~="3-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 66.66667%; }

[is="row"][has~="3-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="3-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="4-columns"] > [is="column"] {
  flex-basis: 25%; }

[is="row"][has~="4-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 25%; }

[is="row"][has~="4-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 25%; }

[is="row"][has~="4-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 50%; }

[is="row"][has~="4-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 50%; }

[is="row"][has~="4-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 75%; }

[is="row"][has~="4-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 75%; }

[is="row"][has~="4-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="4-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="5-columns"] > [is="column"] {
  flex-basis: 20%; }

[is="row"][has~="5-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 20%; }

[is="row"][has~="5-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 20%; }

[is="row"][has~="5-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 40%; }

[is="row"][has~="5-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 40%; }

[is="row"][has~="5-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 60%; }

[is="row"][has~="5-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 60%; }

[is="row"][has~="5-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 80%; }

[is="row"][has~="5-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 80%; }

[is="row"][has~="5-columns"] > [is="column"][has~="5-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="5-columns"] > [is="column"][has~="5-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="6-columns"] > [is="column"] {
  flex-basis: 16.66667%; }

[is="row"][has~="6-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 16.66667%; }

[is="row"][has~="6-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 16.66667%; }

[is="row"][has~="6-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 33.33333%; }

[is="row"][has~="6-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 33.33333%; }

[is="row"][has~="6-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 50%; }

[is="row"][has~="6-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 50%; }

[is="row"][has~="6-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 66.66667%; }

[is="row"][has~="6-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 66.66667%; }

[is="row"][has~="6-columns"] > [is="column"][has~="5-columns-width"] {
  flex-basis: 83.33333%; }

[is="row"][has~="6-columns"] > [is="column"][has~="5-columns-margin"] {
  margin-left: 83.33333%; }

[is="row"][has~="6-columns"] > [is="column"][has~="6-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="6-columns"] > [is="column"][has~="6-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="7-columns"] > [is="column"] {
  flex-basis: 14.28571%; }

[is="row"][has~="7-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 14.28571%; }

[is="row"][has~="7-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 14.28571%; }

[is="row"][has~="7-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 28.57143%; }

[is="row"][has~="7-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 28.57143%; }

[is="row"][has~="7-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 42.85714%; }

[is="row"][has~="7-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 42.85714%; }

[is="row"][has~="7-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 57.14286%; }

[is="row"][has~="7-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 57.14286%; }

[is="row"][has~="7-columns"] > [is="column"][has~="5-columns-width"] {
  flex-basis: 71.42857%; }

[is="row"][has~="7-columns"] > [is="column"][has~="5-columns-margin"] {
  margin-left: 71.42857%; }

[is="row"][has~="7-columns"] > [is="column"][has~="6-columns-width"] {
  flex-basis: 85.71429%; }

[is="row"][has~="7-columns"] > [is="column"][has~="6-columns-margin"] {
  margin-left: 85.71429%; }

[is="row"][has~="7-columns"] > [is="column"][has~="7-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="7-columns"] > [is="column"][has~="7-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="8-columns"] > [is="column"] {
  flex-basis: 12.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 12.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 12.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 25%; }

[is="row"][has~="8-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 25%; }

[is="row"][has~="8-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 37.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 37.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 50%; }

[is="row"][has~="8-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 50%; }

[is="row"][has~="8-columns"] > [is="column"][has~="5-columns-width"] {
  flex-basis: 62.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="5-columns-margin"] {
  margin-left: 62.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="6-columns-width"] {
  flex-basis: 75%; }

[is="row"][has~="8-columns"] > [is="column"][has~="6-columns-margin"] {
  margin-left: 75%; }

[is="row"][has~="8-columns"] > [is="column"][has~="7-columns-width"] {
  flex-basis: 87.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="7-columns-margin"] {
  margin-left: 87.5%; }

[is="row"][has~="8-columns"] > [is="column"][has~="8-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="8-columns"] > [is="column"][has~="8-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="9-columns"] > [is="column"] {
  flex-basis: 11.11111%; }

[is="row"][has~="9-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 11.11111%; }

[is="row"][has~="9-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 11.11111%; }

[is="row"][has~="9-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 22.22222%; }

[is="row"][has~="9-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 22.22222%; }

[is="row"][has~="9-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 33.33333%; }

[is="row"][has~="9-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 33.33333%; }

[is="row"][has~="9-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 44.44444%; }

[is="row"][has~="9-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 44.44444%; }

[is="row"][has~="9-columns"] > [is="column"][has~="5-columns-width"] {
  flex-basis: 55.55556%; }

[is="row"][has~="9-columns"] > [is="column"][has~="5-columns-margin"] {
  margin-left: 55.55556%; }

[is="row"][has~="9-columns"] > [is="column"][has~="6-columns-width"] {
  flex-basis: 66.66667%; }

[is="row"][has~="9-columns"] > [is="column"][has~="6-columns-margin"] {
  margin-left: 66.66667%; }

[is="row"][has~="9-columns"] > [is="column"][has~="7-columns-width"] {
  flex-basis: 77.77778%; }

[is="row"][has~="9-columns"] > [is="column"][has~="7-columns-margin"] {
  margin-left: 77.77778%; }

[is="row"][has~="9-columns"] > [is="column"][has~="8-columns-width"] {
  flex-basis: 88.88889%; }

[is="row"][has~="9-columns"] > [is="column"][has~="8-columns-margin"] {
  margin-left: 88.88889%; }

[is="row"][has~="9-columns"] > [is="column"][has~="9-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="9-columns"] > [is="column"][has~="9-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="10-columns"] > [is="column"] {
  flex-basis: 10%; }

[is="row"][has~="10-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 10%; }

[is="row"][has~="10-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 10%; }

[is="row"][has~="10-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 20%; }

[is="row"][has~="10-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 20%; }

[is="row"][has~="10-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 30%; }

[is="row"][has~="10-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 30%; }

[is="row"][has~="10-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 40%; }

[is="row"][has~="10-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 40%; }

[is="row"][has~="10-columns"] > [is="column"][has~="5-columns-width"] {
  flex-basis: 50%; }

[is="row"][has~="10-columns"] > [is="column"][has~="5-columns-margin"] {
  margin-left: 50%; }

[is="row"][has~="10-columns"] > [is="column"][has~="6-columns-width"] {
  flex-basis: 60%; }

[is="row"][has~="10-columns"] > [is="column"][has~="6-columns-margin"] {
  margin-left: 60%; }

[is="row"][has~="10-columns"] > [is="column"][has~="7-columns-width"] {
  flex-basis: 70%; }

[is="row"][has~="10-columns"] > [is="column"][has~="7-columns-margin"] {
  margin-left: 70%; }

[is="row"][has~="10-columns"] > [is="column"][has~="8-columns-width"] {
  flex-basis: 80%; }

[is="row"][has~="10-columns"] > [is="column"][has~="8-columns-margin"] {
  margin-left: 80%; }

[is="row"][has~="10-columns"] > [is="column"][has~="9-columns-width"] {
  flex-basis: 90%; }

[is="row"][has~="10-columns"] > [is="column"][has~="9-columns-margin"] {
  margin-left: 90%; }

[is="row"][has~="10-columns"] > [is="column"][has~="10-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="10-columns"] > [is="column"][has~="10-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="11-columns"] > [is="column"] {
  flex-basis: 9.09091%; }

[is="row"][has~="11-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 9.09091%; }

[is="row"][has~="11-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 9.09091%; }

[is="row"][has~="11-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 18.18182%; }

[is="row"][has~="11-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 18.18182%; }

[is="row"][has~="11-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 27.27273%; }

[is="row"][has~="11-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 27.27273%; }

[is="row"][has~="11-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 36.36364%; }

[is="row"][has~="11-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 36.36364%; }

[is="row"][has~="11-columns"] > [is="column"][has~="5-columns-width"] {
  flex-basis: 45.45455%; }

[is="row"][has~="11-columns"] > [is="column"][has~="5-columns-margin"] {
  margin-left: 45.45455%; }

[is="row"][has~="11-columns"] > [is="column"][has~="6-columns-width"] {
  flex-basis: 54.54545%; }

[is="row"][has~="11-columns"] > [is="column"][has~="6-columns-margin"] {
  margin-left: 54.54545%; }

[is="row"][has~="11-columns"] > [is="column"][has~="7-columns-width"] {
  flex-basis: 63.63636%; }

[is="row"][has~="11-columns"] > [is="column"][has~="7-columns-margin"] {
  margin-left: 63.63636%; }

[is="row"][has~="11-columns"] > [is="column"][has~="8-columns-width"] {
  flex-basis: 72.72727%; }

[is="row"][has~="11-columns"] > [is="column"][has~="8-columns-margin"] {
  margin-left: 72.72727%; }

[is="row"][has~="11-columns"] > [is="column"][has~="9-columns-width"] {
  flex-basis: 81.81818%; }

[is="row"][has~="11-columns"] > [is="column"][has~="9-columns-margin"] {
  margin-left: 81.81818%; }

[is="row"][has~="11-columns"] > [is="column"][has~="10-columns-width"] {
  flex-basis: 90.90909%; }

[is="row"][has~="11-columns"] > [is="column"][has~="10-columns-margin"] {
  margin-left: 90.90909%; }

[is="row"][has~="11-columns"] > [is="column"][has~="11-columns-width"] {
  flex-basis: 100.0%; }

[is="row"][has~="11-columns"] > [is="column"][has~="11-columns-margin"] {
  margin-left: 100.0%; }

[is="row"][has~="12-columns"] > [is="column"] {
  flex-basis: 8.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="1-columns-width"] {
  flex-basis: 8.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="1-columns-margin"] {
  margin-left: 8.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="2-columns-width"] {
  flex-basis: 16.66667%; }

[is="row"][has~="12-columns"] > [is="column"][has~="2-columns-margin"] {
  margin-left: 16.66667%; }

[is="row"][has~="12-columns"] > [is="column"][has~="3-columns-width"] {
  flex-basis: 25%; }

[is="row"][has~="12-columns"] > [is="column"][has~="3-columns-margin"] {
  margin-left: 25%; }

[is="row"][has~="12-columns"] > [is="column"][has~="4-columns-width"] {
  flex-basis: 33.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="4-columns-margin"] {
  margin-left: 33.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="5-columns-width"] {
  flex-basis: 41.66667%; }

[is="row"][has~="12-columns"] > [is="column"][has~="5-columns-margin"] {
  margin-left: 41.66667%; }

[is="row"][has~="12-columns"] > [is="column"][has~="6-columns-width"] {
  flex-basis: 50%; }

[is="row"][has~="12-columns"] > [is="column"][has~="6-columns-margin"] {
  margin-left: 50%; }

[is="row"][has~="12-columns"] > [is="column"][has~="7-columns-width"] {
  flex-basis: 58.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="7-columns-margin"] {
  margin-left: 58.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="8-columns-width"] {
  flex-basis: 66.66667%; }

[is="row"][has~="12-columns"] > [is="column"][has~="8-columns-margin"] {
  margin-left: 66.66667%; }

[is="row"][has~="12-columns"] > [is="column"][has~="9-columns-width"] {
  flex-basis: 75%; }

[is="row"][has~="12-columns"] > [is="column"][has~="9-columns-margin"] {
  margin-left: 75%; }

[is="row"][has~="12-columns"] > [is="column"][has~="10-columns-width"] {
  flex-basis: 83.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="10-columns-margin"] {
  margin-left: 83.33333%; }

[is="row"][has~="12-columns"] > [is="column"][has~="11-columns-width"] {
  flex-basis: 91.66667%; }

[is="row"][has~="12-columns"] > [is="column"][has~="11-columns-margin"] {
  margin-left: 91.66667%; }

[is="row"][has~="12-columns"] > [is="column"][has~="12-columns-width"] {
  flex-basis: 100%; }

[is="row"][has~="12-columns"] > [is="column"][has~="12-columns-margin"] {
  margin-left: 100%; }

[is="row"][has~="evently-spacing"] > [is="column"]:first-child,
[is="row"][has~="evently-spacing"] > [is="column"]:last-child,
[is="row"][has~="evently-spacing"] > [is="column"] {
  padding: 5px; }

[is="row"][has~="between-spacing"] > [is="column"] {
  padding-left: 0.47619rem;
  padding-right: 0.47619rem; }

[is="row"][has~="between-spacing"] > [is="column"]:first-child {
  padding-left: 0;
  padding-right: 0.71429rem; }

[is="row"][has~="between-spacing"] > [is="column"]:last-child {
  padding-right: 0;
  padding-left: 0.71429rem; }

/*# sourceMappingURL=grid.css.map */
